.inputs_edit{
    display: flex;
    flex-direction: column;
    margin: 30%;
}

.btn-save{
	background-color: rgb(188, 190, 192);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
}

.btn-save:hover{
    color: rgb(80, 82, 85);
}


 